<div class="container">
    <h2>LOGIN</h2>
    <form action="dashboard">
        <div>
            <label for="username" >Username</label>
            <input type="text" id="username" [(ngModel)]="loginData.username" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            <label for="password" >Password</label>
            <input type="text" id="password" [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" (click)="onSubmit()">Submit</button>
    </form>
</div>
